<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Vista de Cuadrícula</title>
	<link rel="stylesheet" href="/css/aestrella2.css">
</head>
<body>
    <h1>Vista de Cuadrícula</h1>
    
    <!-- Inputs para mostrar los valores del eje X y Y -->
    <div class="input-group">
        <label for="x-partida">Valor del Eje X (Partida):</label>
        <input type="text" id="x-partida" readonly>
    </div>
    <div class="input-group">
        <label for="y-partida">Valor del Eje Y (Partida):</label>
        <input type="text" id="y-partida" readonly>
    </div>
    <div class="input-group">
        <label for="x-destino">Valor del Eje X (Destino):</label>
        <input type="text" id="x-destino" readonly>
    </div>
    <div class="input-group">
        <label for="y-destino">Valor del Eje Y (Destino):</label>
        <input type="text" id="y-destino" readonly>
    </div>

    <!-- Botón para alternar entre partida y destino -->
    <button id="toggle-mode">Modo: Partida</button>
    
    <!-- Botón para validar selección de partida y destino -->
    <button id="validate-selection">Validar Partida y Destino</button>
    
    <!-- Botón para calcular las celdas adyacentes -->
    <button id="calculate-adjacent">Calcular Celdas Adyacentes</button>

    <!-- Botón para añadir obstaculos -->
	<button id="toggle-obstaculo">Modo: Obstáculo</button>

    <!-- Mensaje de error -->
    <div class="error-message" id="error-message">Error: Debe seleccionar un punto de partida y un punto de destino.</div>

    <div class="grid" id="grid"></div>


    <script src="/js/aestrella2.js"></script>
</body>
</html>
