<!DOCTYPE html>
<html lang="es">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Algoritmo A*</title>
	    
	    <link rel="stylesheet" href="/css/aestrella5.css">
	</head>
	
	<body>
	    <h1>Vista de Cuadrícula</h1>
	
    	<button id="clean-table">Limpia tablero</button>
	    <button id="toggle-mode">Modo: Partida</button>
	    <button id="validate-selection">Validar Partida y Destino</button>
	    <button id="calculate-adjacent">Iniciar Búsqueda</button>
	    <button id="toggle-obstaculo">Modo: Obstáculo</button>
	
	    <div class="grid" id="grid"></div>
	    
	    <script src="/js/aestrella5.js"></script>
	</body>
</html>
